/*
Bu CSS dosyası, ToDo listesi uygulaması için genel stil ayarları, form container, form, girdi, düğme, liste öğesi (li), işaret kutusu ve silme düğmesi için stil ayarları içerir.
Ayrıca, yapılmış olan görevler için bir done sınıfı oluşturur ve bu sınıfı kullanarak yapılmış olan görevlerin metni üstü çizgili ve gri renkli hale getirir.
Bu stiller, ToDo listesi uygulamasının görünümünü yapılandırır.
*/

/* Genel stil için */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Form container için */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

/* Input form için */
.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Input için */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='7680' height='4320' preserveAspectRatio='none' viewBox='0 0 7680 4320'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='7680' height='4320' x='0' y='0' fill='url(%23SvgjsLinearGradient1016)'%3e%3c/rect%3e%3cpath d='M7936 4320L0 4320 L0 2648.15Q415.09 2423.24%2c 640 2838.33Q686.87 2245.2%2c 1280 2292.07Q1550.74 1922.81%2c 1920 2193.55Q2269.86 1903.41%2c 2560 2253.26Q2817.81 2127.07%2c 2944 2384.88Q3389.24 2446.12%2c 3328 2891.36Q3205.58 2384.94%2c 3712 2262.52Q3867.06 2033.58%2c 4096 2188.64Q4555.87 2008.51%2c 4736 2468.38Q5163.53 2255.91%2c 5376 2683.44Q5721.12 2388.56%2c 6016 2733.68Q6139.51 2217.19%2c 6656 2340.7Q7056.09 2100.79%2c 7296 2500.88Q7721.97 2286.85%2c 7936 2712.82z' fill='%23182f5d'%3e%3c/path%3e%3cpath d='M8192 4320L0 4320 L0 2921.51Q316.28 2597.79%2c 640 2914.07Q941.97 2832.04%2c 1024 3134.01Q1202.09 2672.1%2c 1664 2850.19Q1909.39 2455.59%2c 2304 2700.98Q2599.28 2612.26%2c 2688 2907.54Q2888.49 2724.03%2c 3072 2924.52Q3618.13 2830.64%2c 3712 3376.77Q3811.26 3092.03%2c 4096 3191.3Q4285.66 2740.96%2c 4736 2930.62Q4892.11 2702.73%2c 5120 2858.85Q5590.06 2688.91%2c 5760 3158.97Q5936.24 2951.2%2c 6144 3127.44Q6270.42 2613.86%2c 6784 2740.28Q7033.58 2605.86%2c 7168 2855.44Q7550.81 2854.25%2c 7552 3237.06Q7702.02 2747.09%2c 8192 2897.11z' fill='%2325467d'%3e%3c/path%3e%3cpath d='M8192 4320L0 4320 L0 3896.63Q90.52 3603.15%2c 384 3693.68Q506.12 3431.8%2c 768 3553.91Q1000.02 3401.93%2c 1152 3633.94Q1542.22 3384.16%2c 1792 3774.39Q1871.56 3469.95%2c 2176 3549.51Q2427.41 3160.93%2c 2816 3412.34Q3064.97 3021.31%2c 3456 3270.28Q3764.23 3194.51%2c 3840 3502.74Q4056.59 3079.33%2c 4480 3295.92Q4647.61 3079.53%2c 4864 3247.14Q5393.07 3136.21%2c 5504 3665.28Q5927.06 3448.35%2c 6144 3871.41Q6272.64 3616.05%2c 6528 3744.68Q6797.8 3374.48%2c 7168 3644.29Q7278.85 3371.14%2c 7552 3481.98Q7840.14 3130.11%2c 8192 3418.25z' fill='%23356cb1'%3e%3c/path%3e%3cpath d='M7808 4320L0 4320 L0 4268.82Q57.7 3942.52%2c 384 4000.22Q554.53 3786.74%2c 768 3957.27Q1002.86 3808.13%2c 1152 4042.99Q1468.3 3975.29%2c 1536 4291.59Q1798.07 4169.66%2c 1920 4431.74Q2128.39 4000.13%2c 2560 4208.52Q3004.55 4013.07%2c 3200 4457.62Q3324.13 4197.74%2c 3584 4321.87Q4001.15 4099.02%2c 4224 4516.17Q4332.93 3985.1%2c 4864 4094.04Q4961.6 3807.64%2c 5248 3905.23Q5398.23 3671.46%2c 5632 3821.69Q5913.88 3719.57%2c 6016 4001.45Q6363.45 3964.9%2c 6400 4312.34Q6602.34 4130.68%2c 6784 4333.03Q6951.06 4116.09%2c 7168 4283.15Q7428.7 3903.85%2c 7808 4164.56z' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='7680' height='4320' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='-19.44%25' x2='89.06%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1016'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}

/* Button için */
button[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Li için */
li {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-bottom: 12px;
}

/* Checkbox için */
input[type="checkbox"] {
  margin-right: 8px;
}

/* Sil buttonu için */
button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  padding: 8px 12px;
}

button:hover {
  background-color: #d32f2f;
}

/* Yapılmış olan görevler için */
.done {
  text-decoration: line-through;
  color: #ccc;
}